.navbar {
    position: fixed; /* Fixes the navbar at the top of the page */
    top: 0;           /* Keeps the navbar at the top */
    left: 0;          /* Aligns it to the left */
    width: 100%;
    display: flex;
    z-index: 1000;    /* Ensures it stays above other content */
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 1rem;
    height: 30px;
    width: 1510px;
    color: white;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.navbar-links a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}
